* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("/os/photo/default.png");
  background-size:cover;
}

.locktime {
  color: white;
  font-size: 500%;
}

.date {
  color: white;
  font-size: 90%;
}


.locker {
    opacity: 0.3;
    bottom: 50;
    position: fixed;
    color: white;
    width: 100%;
}

.top {
  opacity: 0.5;
  color: white;
}

#bborder {
  width: 5%;
  background-color: black;
  opacity: 0.2;
  border: 1px solid white;
}

#bcurrent {
  width: 0%;
  height: 10px;
  background-color: white;

}

.precent {
  opactiy: 0.8;
  font-size: 50%;
  color: white;
}
