* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("/os/photo/default.png");
  background-size:cover;
}

.locktime {
  color: white;
  font-size: 500%;
}

.date {
  color: white;
  font-size: 90%;
}


.locker {
    opacity: 0.3;
    bottom: 50;
    position: fixed;
    color: white;
    width: 100%;
}

.top {
  opacity: 0.5;
  color: white;
}

#bborder {
  margin: 10px;
  width: 5%;
  background-color: black;
  border: 1px solid #2b2b2b;
}

#bcurrent {
  width: 0%;
  height: 10px;
  background-color: #2b2b2b;

}

.precent {
  opactiy: 0.8;
  font-size: 50%;
  color: white;
}

.password {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
 color: white;
}

.lockscreen {
  position: fixed;
  text-align: center;
  width: 100%;
}

.currentpassfill {
  overflow: hidden;
  font-size: 300%;
  margin-right: 20%;
  margin-left: 20%;
  border: 1px solid white;
  border-radius: 5px;
}

.passbutton {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  background: none;
  display: inline-block;
  font-size: 250%;
  color: white;
}

#shutoff {
  background: black;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}


#slider {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.bottom {
position: fixed;
bottom: 0;
width: 100%;

}

.home {
  background-color: none;
  width: 13px;
  height: 13px;
  margin: 8px;
  border: 2px solid white;
  border-radius: 3px;
  opacity: 0.3;
}

.top-bar {
  width: 100%;
   background:rgba(255,255,255,0.1);
   height: 15px;
}

.time {
  color: white;
  font-size: 90%;
}
