* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: black;
  background-size:cover;
}


.locktime {
  color: #3a3a3a;
  font-size: 300%;
}

.date {
  color: #3a3a3a;
  font-size: 70%;
}




.bottom {
position: fixed;
bottom: 0;
width: 100%;

}

.home {
  background-color: none;
  width: 13px;
  height: 13px;
  margin: 8px;
  border: 2px solid #3a3a3a;
  border-radius: 3px;
}
